* {
  margin: 0;
  padding: 0;
}

body, #root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 12px Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  border: 1px solid #606060;
  color: white;
  padding: 40px;
  border-radius: 10px;
  background-color: #222222;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

#Date {
  font-size: 20px !important;
  margin-bottom: 20px;
}

.clock ul {
  list-style: none;
  display: flex;
  font-size: 90px;
  gap: 15px;
}

.time {
  transition: transform 0.5s ease-in-out;
}

.time:hover {
  transform: scale(1.1);
  color: gold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
